@model InhouseMembership.Models.Schedule
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    DateTime currentTime = DateTime.Now;
}
<h1>Details</h1>

<div>
    <h4>Schedule</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EventDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
       
            

        @if (!User.IsInRole("Coach"))
        {
            <dt class="col-sm-2">
                Coach Name
            </dt>
            <!-- get the coach name by passing coach id into UserManager -->
            <dd class="col-sm-10">
                <a asp-action="CoachProfile" asp-route-id="@Model.CoachId">(Click the name to see the profile >) @Html.DisplayFor(model => UserManager.FindByIdAsync(model.CoachId).Result.UserName)</a>
            </dd>
        }

    </dl>
</div>
<div>
    <!-- if the event time is before current time, show the event has ended -->
    @if (User.IsInRole("Member"))
    {
        @if (Model.EventDate <= currentTime)
        {
            <h3>(Event has ended!)</h3>
        }
        else
        {
            <!-- otherwise, show enroll button -->
            <a asp-action="CreateEnrollment" asp-route-id="@Model.ScheduleId"><h3>Enroll</h3></a>
        }

    }

    else if (User.IsInRole("Admin"))
    {
        <!-- for an admin, give the option to edit the event -->
        @if (Model.EventDate <= currentTime)
        {
            <h3>(Event has ended!)</h3>
        }
        <a asp-action="Edit" asp-route-id="@Model.ScheduleId">Edit</a>
        <a asp-action="Index">Back to List</a>
    }

</div>
