@model IEnumerable<InhouseMembership.Models.CoachProfile>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Coaches</h1>

@if (User.IsInRole("Admin"))
{ 
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Coach.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coach.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Experience)
            </th>
           
           

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Coach.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coach.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>


            <!-- Admins have the options to edit delete while members can only see -->
            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CoachProfileId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CoachProfileId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CoachProfileId">Delete</a>
                </td>
            }
            else if (User.IsInRole("Member"))
            {
                <td>
                    <a asp-action="Details" asp-route-id="@item.CoachProfileId">Coach Profile</a>
                </td>
             }
            </tr>
}
    </tbody>
</table>
